.idea/compiler.xml
.idea/jarRepositories.xml
.idea/Playwright_Project.iml
.idea/misc.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
*.class

/target/
/reports/
/logs/
/test-output/

*.log
*.zip
*.tar

.idea/
*.iml

.env
